[submodule "benches/bootstrap"]
  path = benches/bootstrap
  url = https://github.com/twbs/bootstrap.git
  shallow = true
[submodule "servo"]
  path = servo
  url = https://github.com/servo/servo.git
  shallow = true
