.foo {
  color: black;
}

.foo.bar,
heart { /* stylelint-disable-line selector-type-no-unknown */
  color: red;
  font-weight: bold;
}

.foo.bar {
  text-decoration: underline !important;
}

.foo.bar { /* stylelint-disable-line no-duplicate-selectors */
  text-decoration: inherit;
}
